<!-- navbar section -->
<div>
  <div class="navbar">
    <ul>
      <li>VoidChetan</li>
      <li>Home</li>
      <li>About Me</li>
      <button>Basic</button>
      <button>Logical</button>
      <button>Machine Test</button>
    </ul>
    <div class="searchbar">
      <input type="text" class="search" placeholder="Search">
      <button>LogOff</button>
    </div>
  </div>
</div>
<!-- heading section -->
<div class="heading-div">
  <div class="heading-sub-div">
    <div class="heading">
      <h2>Advance ToDo App</h2>
      <p>Advanced Version With Filter and Strong Data in Local Storage</p>
    </div>

    <!-- task input section -->
    <div class="new-task">
      <div>
        <textarea [(ngModel)]="taskObj.name" class="task" type="text" placeholder="Add a new task"></textarea>
      </div>
      <div>
        <div>
          <input [(ngModel)]="taskObj.date" type="date" class="date">
        </div>
        <div class="task-input">
          <input [(ngModel)]="taskObj.tagsString" class="comma-input" type="text" placeholder="Enter Comma Seperated tags">
          <button (click)="createNewTask()">Add task</button>
        </div>
      </div>
    </div>


    <!-- task buttons -->
    <div>
      <div class="first-buttons">
        <!-- <button class="filter-by-tags" (click)="setFilter(tags)">Filter By</button>
        <button class="show" (click)="setFilter(showAll)">Show All</button>
        <button class="show" (click)="setFilter(showCompleted)">Show Completed</button> -->
        <button class="show" (click)="setFilter()" [ngClass]="{ 'clicked': stringArray.length > 0 }" >Filter By</button>
        <button class="show">Show All</button>
        <button class="show">Show Completed</button>
        

      </div>
      <div class="first-buttons" >
        <button class="show" [ngClass]="{'selected': selectedTag == tag}" (click)="fillterByTag(tag)" *ngFor="let tag of stringArray" >{{tag}}</button>
      </div>
    </div>

    <!-- task table -->
    <div class="table-div">
      <table>
        <thead>
          <tr>
            <th>Index</th>
            <th>Task Name</th>
            <th></th>
            <th>Due Date</th>
            <th class="tag">Tags</th>
          </tr>
        </thead>
        <!-- first row -->
        <tbody>
          <tr *ngFor="let task of taskList;let sr=index">
            <td>{{sr + 1}}</td>
            <td class="second-td">
              <input (change)="onComplete" [(ngModel)]="task.isCompleted" type="checkbox">
              <label for="task"> {{task.name}}</label>
            </td>
            <td (click)="onRemove(sr)" class="third-td">X</td>
            <td class="fourth-td">{{task.date}}</td>
            <td class="fifth-td">
              <button (click)="fillterByTag(tag)" class="btn-one"  *ngFor="let tag of task.tags">
                {{ tag }}
              </button>
              <!-- <button class="btn-two">Fitness</button>
              <button class="btn-three">Default</button> -->
            </td>
          </tr>
          <!-- second row -->
          <!-- <tr>
            <td>2</td>
            <td class="second-td">
              <input type="checkbox">
              <label for="task"> Daily Exterise Routine</label>
            </td>
            <td class="third-td">X</td>
            <td class="fourth-td">12/05/2023</td>
            <td class="fifth-td">
              <button class="btn-one">Health</button>
              <button class="btn-two">Fitness</button>
              <button class="btn-three">Default</button>
            </td>
          </tr> -->

          <!-- third row -->
          <!-- <tr>
            <td>3</td>
            <td class="second-td">
              <input type="checkbox">
              <label for="task"> Daily Exterise Routine</label>
            </td>
            <td class="third-td">X</td>
            <td class="fourth-td">12/05/2023</td>
            <td class="fifth-td">
              <button class="btn-one">Health</button>
              <button class="btn-two">Fitness</button>
              <button class="btn-three">Default</button>
            </td>
          </tr> -->

          <!-- fourth row -->
          <!-- <tr>
            <td>4</td>
            <td class="second-td">
              <input type="checkbox">
              <label for="task"> Daily Exterise Routine</label>
            </td>
            <td class="third-td">X</td>
            <td class="fourth-td">12/05/2023</td>
            <td class="fifth-td">
              <button class="btn-one">Health</button>
              <button class="btn-two">Fitness</button>
              <button class="btn-three">Default</button>
            </td>
          </tr> -->

          <!-- fifth row -->
          <!-- <tr>
            <td>5</td>
            <td class="second-td">
              <input type="checkbox">
              <label for="task"> Daily Exterise Routine</label>
            </td>
            <td class="third-td">X</td>
            <td class="fourth-td">12/05/2023</td>
            <td class="fifth-td">
              <button class="btn-one">Health</button>
              <button class="btn-two">Fitness</button>
              <button class="btn-three">Default</button>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>